h1
  font-family: Oswald, sans-serif
  font-weight: 400
  font-size: 78px
  line-height: 88px
  letter-spacing: 3.2px
  margin-bottom: 36px
  text-transform: uppercase
.lead
  font-family: WixMadeforText, sans-serif
  font-weight: 400
  font-size: 24px
  line-height: 34px
.Uppercase-M
  font-family: WixMadeforText, sans-serif
  font-weight: 500
  font-size: 18px
  line-height: 24px
  text-transform: uppercase
  letter-spacing: 0.6px
.h5
  font-family: Oswald, sans-serif
  font-weight: 400
  font-size: 24px
  line-height: 32px
  letter-spacing: 0.95px
.h3
  font-family: Oswald, sans-serif
  font-weight: 400
  font-size: 40px
  line-height: 48px
  letter-spacing: 1.5px
.Uppercase_S
  font-family: WixMadeforText, sans-serif
  font-weight: 500
  font-size: 14px
  line-height: 22px
  text-transform: uppercase
h2
  font-family: Oswald, sans-serif
  font-weight: 400
  font-size: 60px
  line-height: 66px
  text-transform: uppercase
  margin-bottom: 36px
  letter-spacing: 2.4px
.h4
  font-family: Oswald, sans-serif
  font-weight: 400
  font-size: 30px
  line-height: 38px
  letter-spacing: 1.21px
.Control_S
  font-family: WixMadeforText, sans-serif
  font-weight: 500
  font-size: 16px
  line-height: 24px
.Control_L
  font-family: WixMadeforText, sans-serif
  font-weight: 500
  font-size: 20px
  line-height: 26px
.Control_M
  font-family: WixMadeforText, sans-serif
  font-weight: 500
  font-size: 18px
  line-height: 26px
.uppercase
  text-transform: uppercase

