<div class="contacts__form">
  <img class="contacts__formBg" src="{{ assets }}/images/forus/bgss.webp" alt="">

  <div class="contacts__formWrapper">
    <h2 class="text-main contacts__formWrapperTitle">Онлайн запись<br>на замер</h2>
    <div class="h5 text-caption contacts__formWrapperSubtitle">Оставьте Ваши контакты и мы свяжемся с вами</div>
    <form class="form review-form">
      <div class="form__input-hidden">
        <input type="text" name="title" hidden value="Онлайн запись на замер">
        <input type="text" name="code" hidden value="zamer">
      </div>
      <div class="form__inputs">
        <div class="form__input modal__input">
          <input id="contactsname" type="text" required="" placeholder=" " class="validate-name required contacts__formInput" name="name">
          <label class="form__label modal__label" for="contactsname">Ваше имя</label>
        </div>
        <div class="form__input modal__input">
          <input id="contactstel" type="tel" required placeholder=" " class="tel contacts__formInput" name="phone">
          <label class="form__label modal__label" for="contactstel">Ваш телефон</label>
        </div>
        <div class="form__textarea">
          <textarea id="contactsmessege" name="messege" id="messege" cols="55" rows="3" placeholder=" "></textarea>
          <label class="form__label modal__label" for="contactsmessege">Сообщение</label>
        </div>
      </div>
      <button class="form__button btn-black Uppercase-M">Оставить заявку</button>
      <div class="modal__checkbox checkbox">
        <label for="checkbox" class="form__checkbox">
          <input class="form__check" type="checkbox" name="term" id="checkbox" checked required>
        </label>
        <a class="form__police text-caption" target="_blank" href="/privacy-policy/">Я даю согласие на <span>обработку персональных данных</span></a>
      </div>
    </form>
  </div>


</div>
