.catalog
  &__title
    margin-bottom: 36px
  &__wrapper
    display: flex
    flex-wrap: wrap
    gap: 16px
    justify-content: space-between
  &__wrap
    position: relative
    border-radius: 16px
    z-index: 2
    overflow: hidden
    display: flex
    justify-content: flex-end
    background: rgba(255, 255, 255, 1)
    max-width: 24%
    width: 100%
    height: 250px
    border: 2px solid rgba(0, 0, 0, 0.08)
    &:nth-last-child(-n+3)
      max-width: 32.5%
    &:hover
      .catalog__wrapImg
        transform: scale(1.1)
        transition: .3s all
      .catalog__wrapTitle
        color: rgba(249, 92, 119, 1)
        transition: .3s all
  &__wrapFrame
    position: absolute
    top: 0
    left: 0
    z-index: 3
  &__wrapTitle
    position: absolute
    bottom: 24px
    left: 24px
    transition: .3s all
    text-transform: uppercase
  &__wrapImg
    max-width: 339px
    transition: .3s all

@media (max-width: 767px)
  .catalog
    display: none

@media (min-width: 768px) and (max-width: 1023px)
  .catalog
    &__wrapper
      display: grid
      grid-template-columns: 1fr 1fr
      gap: 16px
    &__wrap
      max-width: unset
      &:nth-last-child(-n+3)
        max-width: unset !important
        width: 100%

@media (min-width: 1024px) and (max-width: 1250px)
  .catalog
    &__wrapper
      display: grid
      grid-template-columns: 1fr 1fr 1fr
      gap: 16px
    &__wrap
      max-width: unset
      &:nth-last-child(-n+3)
        max-width: unset !important
        width: 100%

@media (min-width: 1251px) and (max-width: 1350px)
  .catalog
    &__wrap
      &:nth-last-child(-n+3)
        max-width: 32.4%
        width: 100%
