.contacts
  &__wrapper
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 16px
    margin-bottom: 60px
  &__wrap
    background: white
    border-radius: 16px
    padding: 56px
    a
      &:hover
        color: rgba(230, 75, 102, 1)
  &__wrapLi
    display: grid
    grid-template-columns: 260px 445px
    a
      &:hover
        color: rgba(230, 75, 102, 1)
  &__wrapLiLine
    margin: 19px 0
    border: 1px dashed rgba(12, 12, 12, 0.12)
  &__wrapTitle
    margin-bottom: 36px
  &__form
    padding: 56px
    border-radius: 16px
    overflow: hidden
    position: relative
  &__formBg
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1
  &__formWrapper
    position: relative
    z-index: 3
    background: rgba(255, 255, 255, 1)
    border-radius: 16px
    overflow: hidden
    padding: 48px 34px
    max-width: 669px
    width: 100%
    margin: 0 auto
  &__formWrapperTitle
    margin-bottom: 16px
    text-align: center
  &__formWrapperSubtitle
    margin-bottom: 36px
    text-align: center
  .form__inputs
    display: flex
    flex-direction: column
    gap: 12px
  textarea
    width: 100%
    padding: 23px 24px
    border: 1px solid rgba(0, 0, 0, 0.16)
    border-radius: 16px
    color: rgba(12, 12, 12, 0.4)
    font-family: "WixMadeforText", sans-serif
    font-weight: 500
    font-size: 20px
    line-height: 26px
    height: 120px
    &:focus
      font-family: "WixMadeforText", sans-serif
      color: rgba(12, 12, 12, 0.8)
      font-weight: 500
      font-size: 20px
      line-height: 26px
  .form__button
    width: 100%
    max-width: none
    margin-bottom: 12px
  .checkbox
    justify-content: center
  &__map
    border-radius: 16px
    overflow: hidden


@media (max-width: 767px)
  .contacts
    &__form
      padding: 16px
    &__formWrapper
      padding: 17px 16px
    &__formWrapperTitle
      margin-bottom: 7px
    &__formWrapperSubtitle
      max-width: 190px
      text-align: center
      margin: 0 auto 16px auto
    .contacts__formInput
      padding: 18px 14px
      border-radius: 8px
      font-size: 18px
      line-height: 26px
    .form
      input[type="checkbox"]
        padding: 4px
      &__inputs
        gap: 8px
    &__button
      margin-bottom: 6px
    &__police
      font-weight: 500
      font-size: 12px
      line-height: 20px
    .checkbox
      gap: 11px
      font-weight: 500
      font-size: 12px
      line-height: 19px
    textarea
      padding: 11px 14px
      border-radius: 8px
      font-size: 18px
      line-height: 26px
      height: 132px
    &__wrap
      padding: 16px
    &__wrapper
      grid-template-columns: 1fr
      gap: 8px
      margin-bottom: 36px
    &__wrapTitle
      margin-bottom: 24px
    &__wrapLi
      display: flex
      justify-content: space-between
      gap: 20px
    &__wrapLiLine
      margin: 12px 0
    &__map
      height: 362px !important
      border-radius: 16px
      overflow: hidden
    &__wrapLiAnswer
      text-align: right

@media (min-width: 768px) and (max-width: 1023px)
  .contacts
    &__wrap
      padding: 24px
    &__wrapper
      grid-template-columns: 1fr
      gap: 24px
      margin-bottom: 36px
    &__wrapTitle
      margin-bottom: 24px
    &__wrapLi
      display: flex
      justify-content: space-between
      gap: 20px
    &__wrapLiLine
      margin: 12px 0
    &__map
      height: 450px !important
      border-radius: 16px
      overflow: hidden


@media (min-width: 1024px) and (max-width: 1280px)
  .contacts
    &__wrap
      padding: 24px
    &__wrapLi
      grid-template-columns: 220px 325px


@media (min-width: 1281px) and (max-width: 1400px)
  .contacts
    &__wrapLi
      grid-template-columns: 250px 400px
