.forus
  &__wrapper
    margin-bottom: 60px
  &__startBanner
    padding: 82px 306.5px
    border-radius: 16px
    width: 100%
    position: relative
    overflow: hidden
  &__startBannerBg
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1
  &__startBannerLogo
    position: relative
    z-index: 3
    width: 100%
    height: 151px
    margin-bottom: 36px
  &__startBannerText
    position: relative
    z-index: 3
    text-align: center
  &__averageBanner
    padding: 56px
    border-radius: 16px
    width: 100%
    position: relative
    z-index: 1
    overflow: hidden
  &__averageBannerTitle
    position: relative
    z-index: 3
  &__averageBannerText
    position: relative
    z-index: 3
    max-width: 904px
    margin-bottom: 36px
  &__averageBannerDoptext
    border-radius: 16px
    padding: 24px
    background: white
    z-index: 3
    position: relative
    max-width: 997px
    width: 100%
  &__advsSubtitle
    margin-bottom: 16px
  &__advsWrapper
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    gap: 16px
  &__advsWrap
    display: flex
    flex-direction: column
    gap: 12px
    background: rgba(249, 249, 249, 1)
    border-radius: 16px
    padding: 24px
  &__info
    position: relative
    z-index: 1
    min-height: 580px
    margin-bottom: 60px
    width: 100%
    display: flex
  &__infoImg
    position: absolute
    z-index: 3
    border-radius: 16px
    object-fit: cover
  &__infoLeftVertical
    top: 115px
    left: 167px
    z-index: 4
    width: 217px
    height: 213px
  &__infoLeftHorizontal
    top: 307px
    left: 17px
    width: 300px
    height: 146px
  &__infoTitle
    max-width: 750px
    width: 100%
    text-align: center
    transition: 1s all
    margin: 160px auto 0 auto
    span
      color: rgba(12, 12, 12, 0.8)
  &__infoRightVertical
    width: 167px
    height: 176px
    top: 72px
    right: 232px
  &__infoRightHorizontal
    width: 349px
    height: 202px
    top: 305px
    right: 37px
  &__infoRight
    width: 360px
    height: 580px
  &__infoLeft
    width: 360px
    height: 580px
  &__question
    padding: 56px
    border-radius: 16px
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    overflow: hidden
  &__questionTitle
    position: relative
    z-index: 3
  &__questionSubtitle
    position: relative
    z-index: 3
    text-align: center
    margin-bottom: 36px
  &__questionBtn
    position: relative
    z-index: 3
