.howToOrder
  &__wrap
    border-radius: 16px
    overflow: hidden
    position: relative
    display: flex
    width: 100%
    height: 633px
    z-index: 1
  &__wrapBgLeft
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    object-fit: cover
    z-index: 2
  &__wrapLeft
    width: 40%
    position: relative
    min-width: 751px
    display: flex
    flex-direction: column
    justify-content: end
    padding: 48px
    overflow: hidden
  .swiper-pagination
    font-weight: 300
    font-size: 28px
    line-height: 36px
    position: absolute
    top: 48px
    left: 48px
    z-index: 3
    display: flex
    gap: 12px
    cursor: pointer
    .swiper-pagination-bullet
      &:last-child
        span
          display: none
  .swiper-pagination-bullet-active
    color: rgba(255, 255, 255, 1)
    .howToOrder__bulletNumber
      border-bottom: 1px solid rgba(255, 255, 255, 1)
  .swiper-pagination-bullet
    display: flex
    gap: 12px
  &__wrapper
    position: relative
    overflow: hidden
  &__wrapText
    margin-top: auto
    display: flex
    flex-direction: column
    position: relative
    z-index: 3
    max-height: 450px
  &__wrapTextIcon
    width: 88px
    height: 88px
    margin-bottom: 24px
  &__wrapTextTitle
    margin-bottom: 12px
    text-transform: uppercase
  &__wrapRight
    transition: transform 6s ease
  .swiper-slide-active
    .howToOrder__wrapRight
      transform: scale(1.1)
  &__wrapRightLogo
    width: 274px
    height: 117px
    background: rgba(239, 239, 239, 1)
    padding: 36px
    position: absolute
    bottom: 0
    right: 0
    z-index: 3
    border-radius: 24px 0 0 0
  &__wrapRightFrame
    bottom: 117px
    position: absolute
    right: 0
  &__wrapBottomFrame
    bottom: 0
    right: 274px
    position: absolute
  &__loader
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    z-index: 999
    background: rgba(239, 239, 239, 1)
    display: flex
    justify-content: center
    align-items: center
    opacity: 1
    transition: .3s all
  &__wrapRec
    width: 42px
    height: 42px
    position: absolute
    top: 48px
    right: 48px
    z-index: 3
  .pagination__span
    &:last-child
      display: none
  &__wrapTextSubtitle
    font-family: WixMadeforText, sans-serif
    font-weight: 400
    font-size: 24px
    line-height: 34px
  &__wrapList
    a
      color: rgba(255, 255, 255, 1)
      border-bottom: 1px solid rgba(255, 255, 255, 1)
      &:hover
        color: #e64b66
        border-bottom: 1px solid #e64b66



@media (max-width: 424px)
  .howToOrder
    &__wrap
      flex-direction: column
      min-height: 800px
    &__wrapLeft
      min-width: unset
      width: 100%
      padding: 116px 16px 16px 16px
      min-height: 510px
    &__wrapRec
      display: none
    &__wrapTextIcon
      width: 48px
      height: 48px
      margin-bottom: 8px
    &__wrapTextTitle
      margin-bottom: 5px
    .swiper-pagination
      top: 16px
      left: 16px
      overflow-x: auto
    &__wrapRightLogo
      display: none
    &__wrapRight
      width: 100%
    &__wrapRightFrame
      display: none
    &__wrapBottomFrame
      display: none
    &__wrapRight
      height: 100%
      object-fit: cover


@media (min-width: 425px) and (max-width: 767px)
  .howToOrder
    &__wrap
      flex-direction: column
      height: unset
    &__wrapLeft
      min-width: unset
      width: 100%
      padding: 116px 16px 16px 16px
      min-height: 600px
    &__wrapRec
      display: none
    &__wrapTextIcon
      width: 48px
      height: 48px
      margin-bottom: 8px
    &__wrapTextTitle
      margin-bottom: 5px
    .swiper-pagination
      top: 16px
      left: 16px
      overflow-x: auto
    &__wrapRightLogo
      display: none
    &__wrapRightFrame
      display: none
    &__wrapBottomFrame
      display: none
    &__wrapRight
      height: 100%
      object-fit: cover
    &__wrapText
      max-height: 530px


@media (min-width: 768px) and (max-width: 1023px)
  .howToOrder
    &__wrap
      flex-direction: column
      height: unset
    &__wrapLeft
      min-width: unset
      width: 100%
      padding: 116px 16px 16px 16px
    &__wrapRec
      display: none
    &__wrapTextIcon
      width: 48px
      height: 48px
      margin-bottom: 8px
    &__wrapTextTitle
      margin-bottom: 5px
    .swiper-pagination
      top: 16px
      left: 16px
      overflow-x: auto
    &__wrapRightLogo
      display: none
    &__wrapRight
      width: 100%
    &__wrapRightFrame
      display: none
    &__wrapBottomFrame
      display: none
    &__wrapLeft
      min-height: 510px
    &__wrapRight
      height: 288px
      object-fit: cover
    &__wrap
      flex-direction: column
      height: unset
    &__wrapLeft
      min-width: unset
      width: 100%
      padding: 70px 16px 16px 16px
    &__wrapRec
      display: none
    &__wrapTextIcon
      width: 48px
      height: 48px
      margin-bottom: 8px
    &__wrapTextTitle
      margin-bottom: 5px
    .swiper-pagination
      top: 16px
      left: 16px
      overflow-x: auto
    &__wrapRightLogo
      display: none
    &__wrapRight
      width: 100%
    &__wrapRightFrame
      display: none
    &__wrapBottomFrame
      display: none
    &__wrapLeft
      min-height: 450px
    &__wrapRight
      height: 450px
      object-fit: cover

@media (min-width: 1024px) and (max-width: 1250px)
  .howToOrder
    &__wrapLeft
      min-width: 650px

