.populars
  &__categories
    display: flex
    gap: 14px
    width: 100%
    overflow-x: auto
  &__category
    padding: 11px 20px
    color: rgba(12, 12, 12, 0.4)
    background: #FFFFFF
    border-radius: 16px
    cursor: pointer
    white-space: nowrap
    display: inline-block
    &:hover
      color: rgba(12, 12, 12, 0.8)
  .active
    background: #FFFFFF
    color: rgba(249, 92, 119, 1)
  &__wrapper
    display: flex
    flex-direction: column
    gap: 35px
  &__btn
    padding: 23px
    width: 100%
    display: none
  &__wrap
    position: relative
    width: 100%
    border-radius: 16px
    overflow: hidden
    background: #ffffff
    padding: 24px
    height: 456px
  &__link
    height: 100%
    overflow: hidden
    display: block
    img
      transition: .3s all
    img
      width: 100%
      height: 100%
      object-fit: cover
      border-radius: 16px
  &__thumbnail
    overflow: hidden
    height: 237px
    display: block
  .slider__arrows
    margin-left: auto
  &__scroller
    clip-path: inset(0% -500% 0% -50.5%)
  &__wrapName
    display: none
  &__wrapDop
    position: absolute
    top: 16.72px
    left: 16.72px
    display: none
    background: rgba(12, 12, 12, 0.64)
    padding: 0 7px
    border-radius: 8px

@media (max-width: 424px)
  .populars
    overflow: hidden
    &__wrapper
      gap: 0
    .container
      padding: 0 0 0 16px
    &__wrap
      //max-width: 282px
      border-radius: 16px
      height: auto
      padding: 12px
    &__link
      img
        height: 192px
        width: 100%
        object-fit: cover
        display: block
        overflow: hidden
    &__btn
      padding: 14px 20px
      width: 100%
      margin-top: 24px
    &__container
      gap: 24px
    &__thumbnail
      height: 175px
      overflow: hidden
    .slider__arrows
      display: none
    &__categories
      clip-path: inset(0% -500% 0% -50.5%)
      padding-bottom: 16px
      gap: 4px
    &__category
      padding: 12px 20px
      height: 50px
    &__wrapName
      display: block
      margin-top: 8px
    .swiper
      clip-path: inset(0 -50% 0 -50%)
      padding-right: 16px
    &__wrapDop
      display: block



@media (min-width: 424px) and (max-width: 767px)
  .populars
    overflow: hidden
    &__wrapper
      gap: 0
    .container
      padding: 0 0 0 16px
    &__wrap
      //max-width: 282px
      border-radius: 16px
      height: auto
      padding: 12px
    &__link
      img
        height: 192px
        width: 100%
        object-fit: cover
        display: block
        overflow: hidden
    &__btn
      padding: 14px 20px
      width: 100%
      margin-top: 24px
    &__container
      gap: 24px
    &__thumbnail
      height: 175px
      overflow: hidden
    .slider__arrows
      display: none
    &__categories
      clip-path: inset(0% -500% 0% -50.5%)
      padding-bottom: 16px
      gap: 4px
    &__category
      padding: 12px 20px
      height: 50px
    &__wrapName
      display: block
      margin-top: 8px
    .swiper
      clip-path: inset(0 -50% 0 -50%)
      padding-right: 16px
    &__wrapDop
      display: block



@media (min-width: 767px) and (max-width: 1023px)
  .populars
    &__container
      justify-content: center
      gap: 24px
    &__wrap
      height: 336px


@media (min-width: 1023px) and (max-width: 1260px)
  .populars
    &__container
      justify-content: space-between
    &__wrap
      height: 370px
