<footer class="footer">
    <div class="container">
        <div class="footer__container">
            Footer
        </div>
    </div>
</footer>

<div class="cookie" hidden>
  <div class="cookie__box">
    <div class="cookie__text">
      Продолжая использовать сайт, вы соглашаетесь <br>
      на использование файлов cookie, а также даете согласие <br>
      на <a href="/privacy-policy/">обработку персональных данных</a>
    </div>
    <button type="button" class="btn btn-8 cookie__accept">ОК</button>
  </div>
</div>


<section class="modals">
  {% include "modals/orders.twig" %}
  {% include "modals/thanks-review.twig" %}
</section>

{{ function('wp_footer') }}

{% if footer_code is not empty %}
  {{ footer_code }}
{% endif %}

</body>
</html>
