{% extends "templates/base.twig" %}

{% block main %}
<div class="allProducts__top">
  {% include "parts/breadcrumbs.twig" %}
  {% include "sections/allProducts.twig" %}
  {% include "sections/seoTerm.twig" %}
  {% include "sections/mebelPrice.twig" %}

</div>



{% endblock %}
