<div class="modal open" data-modal-type="client" hidden>
  <div class="modal__wrapper form__wrapper">
    <div class="reviews__descr Control_M text-body">{{ item.descr }}</div>



      <button class="modal__close modal__close--fixed" type="button">
      </button>

  </div>
</div>
