<div class="modal open" data-modal-type="client" hidden>
  <div class="modal__wrapper form__wrapper Control_M">
    <div class="reviews__descr text-body">{{ item.descr }}</div>



      <button class="modal__close modal__close--fixed" type="button">
      </button>

  </div>
</div>
