<div class="modal open" data-modal-type="headermenu" hidden>
  <div class="modal__wrapper form__wrapper modal__wrapper-header">

    <div class="modal__catalog">
      {% for category in categories_prod %}
        <a class="modal__catalogLink text-caption h3" href="{{ category.link }}">{{ category.title }}
          {% if category.cat_left %}
            <img class="modal__catalogLinkPhleft" src="{{ category.cat_left }}" alt>
          {% endif %}
          {% if category.cat_right %}
            <img class="modal__catalogLinkPhRight" src="{{ category.cat_right }}" alt>
          {% endif %}
        </a>

      {% endfor %}
    </div>


      <button class="modal__close modal__close--fixed" type="button">
      </button>

  </div>
</div>
