<div class="modal open" data-modal-type="orders" hidden>
  <div class="modal__wrapper form__wrapper">
    <h4 class="modal__title">Давайте обсудим идеи и бюджет вашего мероприятия</h4>
    <div class="modal__subtitle control_m">Оставьте ваши контакты и мы свяжемся с Вами
      в ближайшее время</div>
    <form class="form review-form">
      <div class="form__input-hidden">
        <input type="text" name="title" hidden value="Заказать звонок">
        <input type="text" name="code" hidden value="order">
      </div>
      <div class="form__inputs">
        <div class="form__input modal__input">
          <input type="text" required="" placeholder="Имя" class="validate-name required" name="name">
        </div>
        <div class="form__input modal__input">
          <input type="tel" required placeholder="Телефон" class="tel" name="phone">
        </div>
      </div>
        <div class="modal__checkbox checkbox">
          <label for="checkbox" class="form__checkbox">
            <input class="form__check" type="checkbox" name="term" id="checkbox" checked required>
          </label>
          <a class="form__police control_s" target="_blank" href="/privacy-policy/">Согласие на <span>обработку персональных данных</span></a>
        </div>
        <button class="form__button button">Заказать звонок</button>
      <button class="modal__close modal__close--fixed" type="button">
      </button>
    </form>
  </div>
</div>
