<div class="modal open" data-modal-type="orders" hidden>
  <div class="modal__wrapper form__wrapper">
    <h2 class="modal__title">Заказать расчет</h2>
    <div class="modal__subtitle h5">Оставьте Ваши контакты и мы свяжемся с Вами</div>
    <form class="form review-form">
      <div class="form__input-hidden">
        <input type="text" name="title" hidden value="Заказать расчет">
        <input type="text" name="code" hidden value="order">
      </div>
      <div class="form__inputs">
        <div class="form__input modal__input">
          <input type="text" required="" placeholder="Ваше имя" class="validate-name required" name="name">
        </div>
        <div class="form__input modal__input">
          <input type="tel" required placeholder="Ваш телефон" class="tel" name="phone">
        </div>
        <div class="form__textarea">
          <textarea name="messege" id="messege" cols="55" rows="3" placeholder="Сообщение"></textarea>
        </div>
      </div>
      <button class="form__button btn-black Uppercase-M">Оставить заявку</button>
        <div class="modal__checkbox checkbox">
          <label for="checkbox" class="form__checkbox">
            <input class="form__check" type="checkbox" name="term" id="checkbox" checked required>
          </label>
          <a class="form__police text-caption" target="_blank" href="/privacy-policy/">Я даю согласие на <span>обработку персональных данных</span></a>
        </div>

      <button class="modal__close modal__close--fixed" type="button">
      </button>
    </form>
  </div>
</div>
