<div class="modal open modal__client" data-modal-type="client" hidden>
  <div class="modal__wrapper form__wrapper">
    <div class="reviews__wrapClient">
      <img class="reviews__client" src="{{ item.img ? item.img : plug_client }}" alt="{{ item.name }}">
      <div class="reviews__wrapClientText">
        <div class="reviews__name Control_L text-body">{{ item.name }}</div>
        <div class="reviews__date text-caption Control_S">{{ item.time }}</div>
      </div>
    </div>
    <button class="modal__close modal__close--fixed" type="button">
    </button>
  </div>
</div>
