<div class="modal" data-modal-type="thanks" hidden>
  <div class="modal__wrapper form__wrapper modal__wrapper modal__wrapper-thanks">
    <div class="modal__thankImg">
      <svg width="97" height="97" viewBox="0 0 97 97" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M74.2575 20.1579L36.4995 57.9159L22.7415 44.1579C20.3872 41.8841 16.645 41.9166 14.3306 44.231C12.0162 46.5454 11.9837 50.2876 14.2575 52.6419L32.2575 70.6419C34.6005 72.9842 38.3985 72.9842 40.7415 70.6419L82.7415 28.6419C85.0153 26.2876 84.9828 22.5454 82.6684 20.231C80.354 17.9166 76.6118 17.8841 74.2575 20.1579Z" fill="#1A3B30"/>
      </svg>
    </div>
    <h2 class="form__title-thank">Спасибо<br>за заявку</h2>
    <p class="control_m">Мы свяжемся с Вами в ближайшее время</p>
    <button class="modal__close modal__close--fixed modal__close-x" type="button"></button>
  </div>
</div>
