.btn-white
  padding: 20px 32px
  border-radius: 12px
  color: rgba(12, 12, 12, 1)
  background: rgba(243, 243, 243, 1)
  transition: .3s all
  &:hover
    color: rgba(249, 92, 119, 1)
    transition: .3s all
