<section class="banner">
  <div class="container">
    <div class="banner__wrapper">
      <div class="swiper">
        <div class="swiper-wrapper">
          {% for item in post.banner.banner_imgs %}
            <img class="banner__slide" src="{{ item.img }}" alt="{{ post.banner.title }}">
          {% endfor %}
        </div>
      </div>
<div class="banner__text">
  <h1>{{ post.banner.title }}</h1>
  <div class="lead text-main-contrast">{{ post.banner.subtitle }}</div>
  <a href="#" class="btn-white">Перейти в каталог</a>
</div>

    </div>
  </div>
</section>
