<section class="mebelPrice section">
  <div class="container">
    <div class="mebelPrice__wrapper">
      <img class="mebelPrice__bg" src="{{ post.mebelprice.img }}" alt="{{ post.mebelprice.title }}">
      <div class="mebelPrice__wrap">
        <h2 class="text-body mebelPrice__title">{{ post.mebelprice.title }}</h2>

      </div>


    </div>
  </div>
</section>
