<section class="mebelPrice section">
  <div class="container">
    <div class="mebelPrice__wrapper">
      <img class="mebelPrice__bg" src="{{ assets }}/images/forus/bgss.webp" alt="{{ post.mebelprice.title }}">
      <div class="mebelPrice__wrap">
        <h2 class="text-body mebelPrice__title uppercase">РАССЧИТАЙТЕ СТОИМОСТЬ МЕБЕЛИ ПОД ЗАКАЗ</h2>
        <div class="mebelPrice__subtitle Control_L text-caption">Ответьте на несколько вопросов
          и узнайте стоимость готовой мебели с установкой</div>
        <button class="btn-black Uppercase-M mebelPrice__btn" data-modal="calc">Рассчитать стоимость</button>
      </div>
    </div>
  </div>
</section>
