<section class="pageThanks section">
  <div class="container">
    <div class="pageThanks__wrapper">
    <div class="pageThanks__thankImg">
      <svg width="110" height="110" viewBox="0 0 110 110" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M54.809 10C66.692 10 78.09 14.7188 86.493 23.125C94.8992 31.5273 99.618 42.926 99.618 54.809C99.618 66.692 94.8992 78.09 86.493 86.493C78.0907 94.8992 66.692 99.618 54.809 99.618C42.926 99.618 31.528 94.8992 23.125 86.493C14.7188 78.0907 10 66.692 10 54.809C10 42.926 14.7188 31.528 23.125 23.125C31.5273 14.7188 42.926 10 54.809 10ZM27.668 59.117L43.168 75.668C43.8907 76.4375 44.8985 76.875 45.9532 76.875C47.0079 76.875 48.0157 76.4375 48.7384 75.668L81.9804 39.098C83.3906 37.5511 83.2773 35.1488 81.7304 33.7386C80.1796 32.3284 77.7812 32.4378 76.3671 33.9886L45.8791 67.5006L33.1881 53.9496C31.7623 52.4262 29.3678 52.348 27.8443 53.7738C26.3209 55.2035 26.2422 57.5935 27.668 59.117Z" fill="#E64B66"/>
      </svg>
    </div>
    <h1 class="pageThanks__title text-body">Спасибо за заявку</h1>
    <div class="pageThanks__subtitle text-caption h5">В ближайшее время мы свяжемся с вами</div>

    <a href="/" class="btn-black pageThanks__btn Uppercase-M">Вернуться на главную</a>
    </div>
  </div>
</section>

