<section class="pageThanks section">
  <div class="container">
    <div class="pageThanks__wrapper">
    <div class="pageThanks__thankImg">
      <svg width="140" height="140" viewBox="0 0 140 140" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="70" cy="70" r="70" fill="#F5F2F0"/>
        <g clip-path="url(#clip0_71_7995)">
          <path d="M40.971 63.4448L55.6867 88.3278C70.9375 64.5151 88.0613 43.6455 103.58 31.6054C107.058 28.3946 112.409 30.2676 108.663 33.7458C91.272 51.6722 77.8941 72.0067 64.2486 103.846C58.8974 107.592 52.7436 109.465 49.8004 105.987L30.5362 71.4716C27.8606 67.1906 37.2252 57.291 40.971 63.4448Z" fill="#CC926F"/>
        </g>
        <defs>
          <clipPath id="clip0_71_7995">
            <rect width="80" height="80" fill="white" transform="translate(30 30)"/>
          </clipPath>
        </defs>
      </svg>

    </div>
    <h2 class="pageThanks__title">{{ post.title }}</h2>
    <h5 class="pageThanks__subtitle">В ближайшее время с Вами свяжется менеджер для расчета стоимости мероприятия.</h5>

    <p class="control_m">Будут звонить с этих номеров:</p>
    <div class="pageThanks__links">
      <h5 class="orange">+7 969 129-16-09</h5><span class="control_m">или с</span><h5 class="orange">+7 985 748-10-55</h5>
    </div>
    <a href="/" class="button">Вернуться на главную</a>
    </div>
  </div>
</section>

