<section class="reviews section">
    <div class="container">
        <div class="reviews__wrapper">
          <div class="reviews__container">
            <h2 class="reviews__title">Отзывы</h2>
            <div class="slider__arrows slider__arrows--reviews reviews__arrows">
              <button class="slider__arrow slider__arrow--prev" aria-label="Prev button">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.5 4L15 3L6 12.0001L15 21L16.5 20L8.5 12L16.5 4Z" fill="#0C0C0C"/>
                </svg>
              </button>
              <button class="slider__arrow slider__arrow--next" aria-label="Next button">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 4L7.5 3L16.5 12.0001L7.5 21L6 20L14 12L6 4Z" fill="#0C0C0C"/>
                </svg>
              </button>
            </div>
          </div>

            <div class="reviews__slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                      {% for item in reviews.rew_rep %}
                        {% include 'parts/reviews.twig' %}
                      {% endfor %}
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

{% for item in reviews.rew_rep %}
  {% include 'modals/revs.twig' %}
{% endfor %}
