<section class="vkGroup section">
  <div class="container">
    <div class="vkGroup__wrapper">
      <h2 class="vkGroup__title text-body-contrast">{{ vk_groupe.vk_title }}</h2>
      <a class="vkGroup__link btn-white Uppercase-M" target="_blank" href="https://vk.com/widget_community.php?act=a_subscribe_box&oid=-{{ vk_groupe.vk_link }}">Подписаться на новости</a>
      <img class="vkGroup__bg" src="{{ vk_groupe.vk_bg }}" alt="{{ vk_groupe.vk_title }}">
    </div>
  </div>
</section>
