.slider
  &__arrow
    background: rgba(255, 255, 255, 1)
    width: 56px
    height: 56px
    top: 0
    position: relative
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    transition: .3s all
    &:hover
      background: rgba(249, 92, 119, 1)
      transition: .3s all
      svg
        path
          fill: white
          transition: .3s all
  &__arrows
    display: flex
    align-items: center
    justify-content: flex-end
    gap: 16px

+max($xs)
    .slider
        &__arrow
            display: none
        &__dotted
            bottom: -1.6rem
            gap: 0.6rem
            span
                display: block
                height: 0.4rem
                width: 1.2rem
                border-radius: 2rem
                background: #868686
                &.swiper-pagination-bullet-active
                    background: #98703F
